@use '../../shared.scss' as *;

.dark-mode-switch {
  position: relative;
  width: rem(105);
  height: rem(26);

  &__input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  &__slider {
    @extend %theme-transition;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    border-radius: rem(13px);

    .dark-theme & {
      /*! keep */
      background-color: color(theme-switch-background);
    }

    .light-theme & {
      /*! keep */
      background-color: color(light-theme-switch-background);
    }
  }

  &-inner {
    @extend %theme-transition;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: rem(53px);
    height: rem(20px);
    margin: auto rem(4px);
    border-radius: rem(10px);
    margin: auto rem(4);
    transition: transform $ease-out-expo 0.7s;

    .dark-theme & {
      background-color: color(theme-switch-foreground);
    }

    .light-theme & {
      background-color: color(light-theme-switch-foreground);
    }
  }
}

.switch-text {
  @extend %theme-transition;
  @extend .roboto-condensed;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: rem(13px);
  font-size: rem(13px);
  margin: auto;
  width: fit-content;
  height: fit-content;
  transition: opacity $ease-out-expo 0.8s;
  user-select: none;

  .dark-theme & {
    color: color(theme-switch-text);
  }

  .light-theme & {
    color: color(light-theme-switch-text);
  }
}
