@use '../../shared.scss' as *;

.settings {
  @extend %theme-transition;
  @extend .font-sans-serif;

  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: transform $ease-out-expo .7s;
  width: rem(556);
  height: rem(554);

  &--active {
    transform: translateX(0);
  }

  &__inner {
    margin: rem(16) rem(30);
  }

  &__body {
    width: 100%;
    height: 100%;
    margin: rem(11) 0;
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0 rem(12);
  }

  &__item + &__item {
    margin-top: rem(16);
  }

  &.dark-theme {
    background-color: color(main-background);
    color: color(text);
  }

  &.light-theme {
    background-color: color(light-main-background);
    color: color(light-text);
  }
}
