@use '../../shared.scss' as *;

.settings {
  @extend %theme-transition;
  @extend .font-sans-serif;

  position: absolute;
  right: 0;
  transform: translateX(100%);
  transition: transform $ease-out-expo .7s;
  width: rem(557);
  height: rem(554);

  &--active {
    transform: translateX(0);
  }

  &__inner {
    margin: rem(16) rem(30);
  }

  &__header {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: rem(16px);

    &-underline {
      position: absolute;
      bottom: 0;
      height: rem(1);
      width: 100%;
      opacity: .4;
      border-radius: rem(1);

      .dark-theme & {
        background-color: #fff;
      }

      .light-theme & {
        background-color: #000;
      }
    }
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(26);
    height: rem(26);
    border-radius: rem(13);

    .dark-theme & {
      background-color: color(icons-background);
    }

    .light-theme & {
      background-color: color(light-theme-switch-background);
    }
  }

  &__close-icon {
    width: rem(12);
    height: rem(12);

    .dark-theme & path {
      fill: color(text);
    }

    .light-theme & path {
      fill: color(light-text);
    }
  }

  &.dark-theme {
    background-color: color(main-background);
    color: color(text);
  }

  &.light-theme {
    background-color: color(light-main-background);
    color: color(light-text);
  }
}
